.content {
  background-color: #eee;
  width:900px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}

.content-header {
  height: 200px;
  border: 1px solid black;
  background-image: url("https://github.com/appacademy/css-friends/blob/gh-pages/shared/img/cats.jpg?raw=true");
  background-size: 900px 600px;
  background-repeat: no-repeat;
  position:relative;
}

.add-friend {
  border: 1px solid black;
  font-weight: bolder;
  width: 100px;
  height: 40px;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 30px;
  right: 50px;
  text-align: center;
  border-radius: 5px;
}

.cat-name {
  text-shadow: 0 0 10px black;
  position: absolute;
  left: 240px;
  bottom: 20px;
  font-size: 35px;
}

.content-sidebar {
  min-height: 200px;
  width: 240px;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}

.content-main {
  min-height: 200px;
  width: 660px;
  float: right;
  padding: 20px;
  box-sizing: border-box;
}

.content:before {
  content:"";
  background-color: black;
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 240px;
}
