.content {
  background-color: #fff;
  width:900px;
  border: 1px solid #ccc;
  margin: 0 auto;
  position: relative;
}

.content-header {
  height: 200px;
  border: 1px solid #ccc;
  background-image: url("https://github.com/appacademy/css-friends/blob/gh-pages/shared/img/cats.jpg?raw=true");
  background-size: 900px 600px;
  background-repeat: no-repeat;
  position:relative;
}

.add-friend {
  border: 1px solid black;
  font-weight: bolder;
  width: 100px;
  height: 40px;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 30px;
  right: 50px;
  text-align: center;
  border-radius: 5px;
}

.add-friend:hover {
  background-color: #eee;
}

.cat-name {
  text-shadow: 0 0 10px black;
  position: absolute;
  left: 240px;
  bottom: 20px;
  font-size: 35px;
}

.content-sidebar {
  min-height: 200px;
  width: 240px;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}

.content-main {
  min-height: 200px;
  width: 660px;
  float: right;
  padding: 20px;
  box-sizing: border-box;
}

.content:before {
  content:"";
  background-color: #ccc;
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 240px;
}

.profile-picture {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: -100px;
  position:relative;
  overflow: hidden;
}

.online {
  position: absolute;
  letter-spacing: 3px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 130px;
  font-size: 12px;
  background-color: #0c0;
  text-transform: uppercase;
  transform: rotate(-45deg) translateX(-25%) translateY(-25%);
  box-shadow: 0 1px 0 0 #070;
}

.profile-name {
  color: black;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.profile-description {
  color: black;
}

.profile-nav {
  margin: 20px 0;
}

.profile-links a {
  color: black;
  border-top: 1px solid #ccc;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  padding: 5px 0;
  font-weight: bold;
}

.profile-links li:last-child {
  border-bottom: 1px solid #ccc;
}
